.links .title {
  font-weight: bold;
  font-size: 120%;
}

.links .thumbnail-holder img {
  max-width: 100px;
  height: auto;
  padding-right: 1em;
}

.links .thumbnail-holder {
  float: left;
}

.links .description, .links .title {
  max-width: 600px;
}

.links .content {
  display: inline-block;
}

.links .link {
  margin-bottom: 3em;
}

.links-container {
  margin-top: 4em;
}


a[ng-click]{
    cursor: pointer;
}



textarea {
  width: 100%;
}

