<div class="add-to-group-wrapper">
	<a class="add-to-group-btn">Add to group</a>

	<div class="add-to-group hide">
		<h4>Add link to group</h4>

		<div class="groups">
			<ul>
				<!-- <li><a href="#" class="add-new-group-btn">New group +</a></li> -->
				<li ng-repeat="groupToAddTo in newCollection.groups" ><a href="#" class="existing-group-btn" ng-click="addToExistingGroup($event, groupToAddTo, group, link)">{{groupToAddTo.name}}</a></li>
				
					
			</ul>
		</div>

		<div class="add-new-group">
		
			<form >
				<div class="form-group">
					<label>Group name</label>
					<input type="text" class="group-name" required ng-model="newGroupName">
					<button type="submit" class="btn btn-primary add-new-group-form-submit" ng-click="addNewGroupSubmit($event, group, link)">Create group</button>
				</div>	
			</form>
		</div>
	</div>
</div>