




<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<div class="sidebar-nav">
        		

        		<div class="groups-nav" ng-if="collection.groups.length > 1">
        			
	        		<h4>Groups</h4>
	    			<ul class="inline" >
	    				<li ng-repeat="group in collection.groups"  ng-class="{'expanded': group.showLinks}" ng-click="group.showLinks = !group.showLinks"><a href="" ng-if="group.name != 'misc'" >{{group.name}}</a></li>
	    			</ul>
        		</div>

        		<div class="controls">
        			
	        		<h4>Options</h4>
	    			<ul class="inline">
	    				<li><a open="" href="" class="" >Open all embeds</a></li>
	    				<li><a href="" class="" expand="" data-open-close="open">Expand all groups</a></li>
	    				<li><a href="" class="" expand="" data-open-close="close">Contract all groups</a></li>
	    				<li><a ng-click="share()" class="">Share</a></li>
	    				<li><a ng-click="submitLink()" class="">Submit Link</a></li>
	    				<li><a ng-click="filter()" class="">Filter</a></li>
	    			</ul>
        		</div>
        	</div>
           
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
           

        <div class="">
	        <div class="row collection">
	          <div class="col-xs-12">

	            <!-- <p>{{collection.baseScore}} score</p>  -->
	            <div class="row">
	        	    <div class="col-lg-9 col-lg-offset-1">
	        	    	<div class="collection-controls">
	        	    		
	        	    		
	        	    	</div>

	            	    <div class="collection-header" ng-cloak>
	            	    	<h1 class="title">{{collection.title}}</h1>
	            	    	<p class="description">{{collection.description}}</p>
	            	    </div>

	            	    <div class="collection-meta" ng-cloak>
	            	    	<ul class="inline">
	            	    		<li><p><span>{{collection.upvotes}}</span><span>votes</span></p></li>
	            	    		<!-- <li><p><span>{{collection.links.length}}</span><span>links</span></p></li> -->
	            	    		<li><p><span am-time-ago="collection.createdAt"></span><span>created</span></p></li>
	            	    		<li><p><span><a href="#">DaveAnderson</a></span><span>owner</span></p></li>

	            	    	</ul>
	            	    </div>

	            	    <div class="collection-controls">
	            	    	<ul class="inline">
	            	    		<li><a ng-click="save()" class="btn btn-primary">Save collection</a></li>
	            	 
	            	    	</ul>
	            	    	
	            	    </div>
	            	    
	            		<div  class="links" ng-cloak>



	            		  <div class="group clearfix" ng-repeat="group in collection.groups" ng-init="group.showLinks=false" id="{{group.name}}">

	            		  	<!-- <div class="group-name-wrapper" ng-if="group.name != 'misc'" ng-click="group.showLinks=!group.showLinks" ng-class="{'expanded': group.showLinks}"> -->
	            		  	<div class="group-name-wrapper" ng-click="group.showLinks=!group.showLinks" ng-class="{'expanded': group.showLinks}" >
	            		  	  <span class="glyphicon glyphicon-chevron-right" ></span>
	            		  	  <p class="group-linknumber"><span>{{group.links.length}}</span> links</p>
	            		  	  <h4 class="group-name">{{group.name}}</h4>
	            		  	</div>
	            		  	  
	            		  	  <div class="link-wrapper"  >
	            		  	  	
			            		  <div class="link clearfix velocity-enter-transition-slideDownIn velocity-leave-transition-slideUpOut"  data-velocity-opts="{ stagger: 350, duration: 200 }" ng-repeat="link in group.links"  ng-show="group.showLinks" ng-init="link.showButtons=false" ng-click="link.showButtons = !link.showButtons" ng-class="{'clicked': link.showButtons}" >

			            		  		<div class="content-wrapper" >
			            		  			<div class="thumbnail-holder images-loaded" images-loaded-events="ctrl.imgLoadedEvents" ng-if="link.linkUrl.thumbnail!=''">
			            		  				<img src="{{link.linkUrl.thumbnail}}">
			            		  			</div>
			            		  			<div class="content">
			            		  				

			            		  				<p class="meta-info provider" style="">{{link.linkUrl.providerDisplay}}</p>
			            		  				<img src="https://github.com/fluidicon.png" class="provider-icon">
			            		  				<ul class="inline">
			            		  					<!-- <li></li> -->
			            		  					<li><p class="meta-info">added <span am-time-ago="link.linkUrl">{{link.createdAt}}</span></p> 
			            		  					<!-- <span class="glyphicon glyphicon-time"></span> -->
			            		  					</li>
			            		  				</ul>	
			            		  				<a href="{{link.linkUrl.url}}">
			            		  					<p class="title">{{link.title}}</p>
			            		  				</a>
			            		  				<p class="description">{{link.description | limitTo:140}}</p>
			            		  				
			            		  			</div>

			            		  			<a embed="" href="#" class="embed-link">Show</a>
			            		  		</div>


			            		  		<div class="link-mobile-controls velocity-enter-transition-slideLeftIn"  ng-show="link.showButtons"  data-velocity-opts="{ duration: 150 }">
			            		  			<a href="{{link.linkUrl.url}}" class="btn btn-primary" ng-click="$event.stopPropagation();window.location='{{link.linkUrl.url}}'" >Goto Link</a>
			            		  			<a class="btn btn-primary" embed="" href="#" ng-click="$event.stopPropagation(); link.showButtons=false ">Embed</a>

			            		  		</div>
			        	    		  	
			            		  	</div>

		            		  	</div>

		            		  	
	            		  
	            		  </div><!-- group -->



	            		</div>
	        	    </div>


	            </div>
	            


	          </div>

	          

	        </div>



        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->