<div class="row">
  <div class="col-xs-12">
    <h1>{{collection.title}}</h1>
      <p>{{collection.baseScore}} score</p> 

    <div>
      <div ng-repeat="link in collection.links" class="links">
	      <div class="link">
	      	<div class="thumbnail-holder">
	      		<img src="{{link.linkUrl.thumbnail}}">
	      	</div>
	      	<div class="content">
	      		<a href="{{link.linkUrl.url}}"><p class="title">{{link.title}}</p></a>
	      		<p class="description">{{link.description}}</p>
	      		<p class="provider">{{link.linkUrl.providerDisplay}}</p>
	      	</div>
	      
	      </div>
      </div>
    </div>

  </div>
</div>

