


<div id="wrapper"> 
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="sidebar-wrapper">
      <div class="sidebar-nav margin-top">
      <h3>Create a new collection</h3>  
       <form role="form" ng-submit="saveCollection()" method="post">
         <div class="form-group">
           <label>Edit title</label>
           <input type="text" ng-model="newCollection.title">
         </div>
         <div class="form-group">
           <label>Edit description</label>
           <input type="text" ng-model="newCollection.description">
         </div>
         <button type="submit" class="btn btn-primary btn-lg">Save collection</button>

       </form>

       
      </div>
       
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="">
          <div class="row">
            <div class="col-lg-7 col-lg-offset-2 collection">

            <div class="collection-header" ng-cloak>


              <h1 class="title">{{newCollection.title}}</h1>
              <p class="description">{{newCollection.description}}</p>

              <form id="add-links-form" ng-submit="submitLinks()" class="margin-top-lg">
                   <label> Links </label>
                       <textarea name="link-textbox" id="link-textbox" class="link-textbox" rows="12"  ng-model="links"> </textarea>
                  

                   <button type="submit" class="btn btn-default">Add links</button>
               </form>
            </div>

              <div class="row links-container" >
                  <div class="col-xs-12 "  >
                    <div  class="links" id="links">

                      <div class="group" ng-repeat="group in groups">
                        <h3 class="group-name">{{group.name}}</h3>  

                        <div class="link clearfix" ng-repeat="link in group.links" data-link-index="{{$index}}">
                          <div class="clearfix">
                            <div class="thumbnail-holder images-loaded" images-loaded-events="ctrl.imgLoadedEvents" ng-if="link.linkDetails.thumbnail!=''">
                              <img src="{{link.linkDetails.thumbnail}}">
                            </div>
                            <div class="content">

                              <a href="{{link.linkDetails.url}}"><p class="title">{{link.title}}</p></a>
                              <p class="description">{{link.description | limitTo:200}}</p>
                              <p class="provider">{{link.linkDetails.providerDisplay}}</p>
                              <p class="group">{{link.group}}</p>
                            </div>
                            <div class="content-edit hide"> 
                              <!-- <form >   -->
                                <div class="form-group">  
                                    <label for="link-title"> Link Title
                                        <input type="text" name="link-title" ng-model="link.title"> 
                                    </label>
                                    <br>
                                    <label for="link-description"> Link Description
                                        <textarea rows="6" type="text" name="link-description" ng-model="link.description"></textarea>
                                    </label>
                                    <br>
                                    <button class="btn btn-primary" ng-click="editLink($event)">Finished Editing</button>
                                </div>   
                              <!-- </form> -->
                            </div>  
                          </div>
                          
                          <ul class="inline">
                            <li><a class="" group="">Add to group</a></li>
                            <li><a class="" ng-click="editLink($event)">Edit</a></li>
                            <li><a class="" ng-click="removeLink($event)">Remove</a></li>
                          </ul>
                          
                        </div>

                      </div>

                      <div class="link clearfix" ng-repeat="link in newCollection.links" data-link-index="{{$index}}">
                        <div class="clearfix">
                          <div class="thumbnail-holder images-loaded" images-loaded-events="ctrl.imgLoadedEvents" ng-if="link.linkDetails.thumbnail!=''">
                            <img src="{{link.linkDetails.thumbnail}}">
                          </div>
                          <div class="content">

                            <a href="{{link.linkDetails.url}}"><p class="title">{{link.title}}</p></a>
                            <p class="description">{{link.description | limitTo:200}}</p>
                            <p class="provider">{{link.linkDetails.providerDisplay}}</p>
                            <p class="group">{{link.group}}</p>
                          </div>
                          <div class="content-edit hide"> 
                            <!-- <form >   -->
                              <div class="form-group">  
                                  <label for="link-title"> Link Title
                                      <input type="text" name="link-title" ng-model="link.title"> 
                                  </label>
                                  <br>
                                  <label for="link-description"> Link Description
                                      <textarea rows="6" type="text" name="link-description" ng-model="link.description"></textarea>
                                  </label>
                                  <br>
                                  <button class="btn btn-primary" ng-click="editLink($event)">Finished Editing</button>
                              </div>   
                            <!-- </form> -->
                          </div>  
                        </div>
                        
                        <ul class="inline">
                          <li><a class="" group="">Add to group</a></li>
                          <li><a class="" ng-click="editLink($event)">Edit</a></li>
                          <li><a class="" ng-click="removeLink($event)">Remove</a></li>
                        </ul>
                        
                      </div>

                    </div>




                      

                    </div>
                  </div>  
              </div>


            </div>



          </div>

      </div>

    </div>

</div>